.no-password-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em 0em;
}

.no-password-img {
  min-width: 100px;
  max-width: 500px;
  width: 100%;
}

.no-passwords-text {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-color);
}
