.user-info {
  margin: auto;
  text-align: center;
}

.user-avatar {
  min-width: 100px;
  max-width: 300px;
  width: 100%;
}

.user-name {
  font-size: 1.3rem;
}
.user-role {
  font-size: 1rem;
}

@media screen and (min-width: 576px) {
  .user-name {
    font-size: 1.5rem;
  }
  .user-role {
    font-size: 1.2rem;
  }
}
